# Project exclude paths
/target/
/BuildStructures/src/main/resources/blocks/*
/resources/output/*
/resources/collections/*
/resources/collections/collection.tsv
/resources/complete_collection_index/
/resources/datastructure/
/resources/complete/document_index.db
/resources/complete/inv_index.tsv
/resources/complete/inverted_index_doc_id_bin.dat
/resources/complete/inverted_index_term_frequency_bin.dat
/resources/complete/lexicon_disk_based.db
/resources/Stats/stats.txt
/resources/data structures complete/document_index.db
/resources/data structures complete/inverted_index_doc_id_bin.dat
/resources/data structures complete/inverted_index_term_frequency_bin.dat
/resources/data structures complete/lexicon_disk_based.db
/PerformanceTest/src/main/resources/queries/
/BuildStructures/src/main/resources/
/PerformanceTest/src/main/resources/
/resources/
