# Project exclude paths
/target/
/src/main/resources/intermediate_postings/*
/src/main/resources/output/*
/src/main/resources/collections/*
/src/main/resources/collections/collection.tsv
/src/main/resources/complete_collection_index/
